/* kanit-200 - latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 200;
	src: url('font/kanit-v7-latin-200.woff') format('woff'),
		  url('font/kanit-v7-latin-200.ttf') format('truetype'),
  }
  
  /* kanit-200italic - latin */
  @font-face {
	font-family: 'Kanit';
	font-style: italic;
	font-weight: 200;
	src: url('font/kanit-v7-latin-200italic.woff') format('woff'),
		  url('font/kanit-v7-latin-200italic.ttf') format('truetype'),
  }
  
  /* kanit-regular - latin */
  @font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 400;
	src: url('font/kanit-v7-latin-regular.woff') format('woff'),
		  url('font/kanit-v7-latin-regular.ttf') format('truetype'),
  }